.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bg {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  .progress {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  .text {
    font-size: 1.2rem;
    fill: #333;
    font-weight: bold;
  }
  